/*.logoin{
	width: auto;
	height: 100%;
	background-color: black;
	background:rgba(0,0,0,0.5);
	
}*/
html{
	position: relative;
}

.back{
	width: 100%;
	height: 100%;
	background-color: black;
	background:rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 88;
}

.logoin{
	position: fixed;
	left: 50%;
	margin-left:-210px ;
	top:50%;
	margin-top: -290px;
	z-index: 99;
	display: none;
}
.log-tp{
	width: 420px;
    height: 160px;
    background: url(../img/df.JPG) center no-repeat #f5f5f5;
    background-size: cover;
    position: relative;
}
.cha{

   position: absolute;
    z-index: 5;
    right: 20px;
    top: 15px;
}
.icon-cha{
    color: lightgreen;

}
.log-con {
    height: 420px;
    width: 420px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.log-inner{
	
    /*width: 280px;*/
    width: 100%;
    height: 100%;
    padding: 0 70px;
}
.log-area {
    position: relative;
    padding-top: 60px;
    
}
.log-area input{
	display: block;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    font: 13px/38px "微软雅黑";
    width: 248px;
    padding: 0 15px;
    margin-bottom: 20px;
}
.log-area .btn {
    height: 40px;
    width: 280px;
    border-radius: 20px;
    font: 16px/40px "微软雅黑";
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    
    color: #fff;
    
    cursor: pointer;
    background-color: #fd6363;
}
.log-area .toggle {
    height: 12px;
    font: 12px/12px "微软雅黑";
    color: #3f8cca;
    text-align: center;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 10px;
}
.third-title {    
    font: 14px/15px "微软雅黑";
    height: 15px;
    text-align: center;
    margin-top: 30px;
}
.third {
    padding-top: 20px;
}
.third .item{
	display: block;
    float: left;
}
.third .item.weibo {
    margin-left: 50px;
   
}
.third .item.qq {
    /*margin-left: 125px;*/
  
}
 input{
     outline: none;
 }
.third .item .icons {
    height: 24px;
    width: 24px;
    margin: 0 auto;
    display: inline-block;
    line-height: 0;
    background: url(../img/sprites@x2.png)  no-repeat;
    background-size: 200px 150px;
}
.third .item .weibo-login{
	background-position: -94px -64px;
}
.third .item .qq-login{
	background-position: -118px -64px;
}
.third .item .weibo-login:hover{
	background-position: -94px -38px;
}
.third .item .qq-login:hover{
	background-position: -118px -38px;
}
.third p{
	text-align: center;
    color: #38383a;
    font-size: 12px;
}
