/*css 初始化 */
@font-face {
    font-family: 'iconfont';  /* project id 511861 */
    src: url('//at.alicdn.com/t/font_511861_srkxqd58w5pl23xr.eot');
    src: url('//at.alicdn.com/t/font_511861_srkxqd58w5pl23xr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_511861_srkxqd58w5pl23xr.woff') format('woff'),
    url('//at.alicdn.com/t/font_511861_srkxqd58w5pl23xr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_511861_srkxqd58w5pl23xr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


/*公共样式*/
body {
    color: #666;
    font-size: 16px;
    font-family: "微软雅黑";
}

a {
    color: #FFFFFF;
}

/*a:hover {*/
    /*color: yellow;*/
    /*text-decoration: none;*/
/*}*/

.m_l {
    margin-left: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*导航栏*/
.tc_nav {
    border: none;

    marign-bottom: 0px;
    z-index: 9;
    background-color: black;
}

.tc_nav .navbar-brand {
    color: #fff;
    background-color: black;
}

.tc_nav .navbar-brand:hover,
.tc_nav .navbar-brand:focus {
    color: #c99a05;
}

.tc_nav .navbar-text {
    color: #fff;
}
.tc_nav .navbar-nav  li{
   
    margin: 0 5px;
}
/*.tc_nav .navbar-nav > li > a {*/
    /*color:#fff;*/

/*}*/
/*.tc_nav .navbar-right li:last-child {*/
    /*color:#fff;*/
    /*background-color: #c99a05;*/
/*}*/
.tc_nav .navbar-right a:hover{
    color: #FFFFFF;
}
.tc_nav .navbar-nav > li > a:hover,
.tc_nav .navbar-nav > li > a:focus {
    color: #c99a05;
    background: none;

}

.tc_nav .navbar-nav > .active > a,
.tc_nav .navbar-nav > .active > a:hover,
.tc_nav .navbar-nav > .active > a:focus {
    color: #c99a05;
}

.tc_nav .navbar-nav > .disabled > a,
.tc_nav .navbar-nav > .disabled > a:hover,
.tc_nav .navbar-nav > .disabled > a:focus {
    color: #c99a05;
}

.tc_nav .navbar-toggle {
    border-color: #ddd;
}

.tc_nav .navbar-toggle:hover,
.tc_nav .navbar-toggle:focus {
    border-color: #c99a05;

}

.tc_nav .navbar-toggle .icon-bar {
    background-color: #fff;
}

.tc_nav .navbar-toggle :hover {
    background-color: #c99a05;
}
.tc_nav .navbar-collapse,
.tc_nav .navbar-form {
    border-color: #fff;
}

.tc_nav .navbar-nav > a,
.tc_nav .navbar-nav > a:hover{
/*.tc_nav .navbar-nav > .open > a:focus {*/
    color: white;
    /*background-color:;*/
}

@media (max-width: 767px) {
    .tc_nav .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .tc_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .tc_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: green;
        background-color: transparent;
    }

    .tc_nav .navbar-nav .open .dropdown-menu > .active > a,
    .tc_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .tc_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: green;
        background-color:green;
    }

    .tc_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .tc_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .tc_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: green;
        background-color: transparent;
    }
}

.tc_nav .navbar-link {
    color: green;
}

.tc_nav .navbar-link:hover {
    color: green;
}

.tc_nav .btn-link {
    color: green;
}

.tc_nav .btn-link:hover,
.tc_nav .btn-link:focus {
    color: green;
}

.tc_nav .btn-link[disabled]:hover,
fieldset[disabled] .tc_nav .btn-link:hover,
.tc_nav .btn-link[disabled]:focus,
fieldset[disabled] .tc_nav .btn-link:focus {
    color: green;
}
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}
.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

/*main*/

.nav-tabs {
    border-bottom: 1px solid #ddd;
    color: #38383a;
    text-align: center;
}
.nav-tabs > li {
    float: left;
    /*margin-bottom: 0;*/
    color: #38383a;
    margin: 0 auto;

}
.nav-tabs > li > a {
    color: #38383a;
    margin-right: 2px;
    line-height: 1.42857143;
    /*border: 1px solid transparent;*/
    /*border-radius: 4px 4px 0 0;*/
}
.nav-tabs > li > a:hover {
    color: #c99a05;
    background-color: #fff;
    border: 1px solid #FFFFFF;
}
.nav-tabs > li > a i{
    color: #38383a;
}
.nav-tabs > li > a i:hover{
    color: #38383a;

}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #38383a;
    cursor: default;
    background-color: #fff;
    border: 1px solid #FFFFFF;
    border-bottom: 2px solid #c99a05;

}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

/*main*/

.tab-content .product_box {
    display: block;

    width: 100%;
    background: #fff;
    margin-top: 20px;

}
.tab-content{
    margin: 0 auto;

}
.tab-content .hot-events .row>div{
    /*height:345px;*/
    overflow: hidden;
    background-size:contain;
    position: relative;
    top: 0;
    transition: all .5s;
    margin-top: 10px;
}
.tab-content .hot-events .row .sdasd{
    /*margin-right: 5px;*/
}
.tab-content .hot-events .desc {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    transition: all .5s;
}
.tab-content .hot-events .list-img {

    display: block;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    height:150px;
    overflow: hidden;

    position: relative;

    -webkit-filter:brightness(.9);
}

.tab-content .hot-events .list-img h3{

    position: absolute;
    top: 40%;
    left: 40%;
    color: #FFFFFF;


}

.tab-content .event-list{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 150px;

    -moz-background-size: cover;
    background-size: cover;

}
.tab-content .event-list a{
     color: black;
 }
.tab-content .event-list h3{
    color: black;
}
.event-list .item-mask {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 265px;
    z-index: 10;
}
.event-list .item-mask .list-img-name{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-top: 20px;
}
.event-list .item-mask .list-img-name img{
    display: block;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

}
.photog-list .desc-wrapper {
    width: 196px;
}

 .displayInBl {
    display: inline-block;
    vertical-align: top;
     width: 220px;
     margin-left: 10px;
}
 .desc-wrapper h3 {
    font-size: 18px;
    line-height: 25px;
}
.desc-wrapper p {
    margin: 12px 0;
    color: #85888a;
}
.desc-wrapper .photog-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.event-list .item-active {
    background: -webkit-linear-gradient(left,#e79836,rgba(231,152,54,0));
    background: -moz-linear-gradient(left,#e79836,rgba(231,152,54,0));
    background: linear-gradient(to right,#e79836,rgba(231,152,54,0));
    display: inline-block;
    padding: 5px 10px 2px 6px;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    width: 30%;

}

.event-list p {
    margin: 0;
}
.event-list .item-desc {
    position: relative;
}
.event-list .item-title {
    font-size: 18px;
    font-weight: bolder;
    color: #222;
    margin: 6px 0;
    width: 60%;
    line-height: 28px;
}
.event-list .item-posts {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 13px;
    color: #808387;
}
.event-list .item-award {
    margin: 5px 0;
    padding: 5px 5px 5px 0;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    color: #38383a;
    font-weight: bold;
    text-overflow: ellipsis;
}








/*footer*/
.brand-wrap{
    margin: auto;
}
.brand-wrap .head{
    text-align: center;
    font-size: 20px;
    margin: 70px 0 0;
    line-height: 1;
    font-weight: 400;
}
.brand-wrap .row>div{
    display: inline-block;
    width: 163px;
    height: 88px;
    margin: 9px;
    border: 1px solid #e0e0e0;
}
.brand-wrap .row>div a{
    display: block;
    width: 100%;
    height: 100%;

}

.brand-wrap .row>div a img{
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
}

/*底部*/
footer{
    width: 100%;
    padding: 20px 40px;
    margin: 0 auto;
    clear: both;
    color: #f9f9f9;
    font-size: 12px;
    background-color: #222;
    margin-top: 100px;
}
.over-auto {
    overflow: auto;
}
footer .footer-fluid {
    margin-bottom: 32px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
footer .fluid-title {
    font-size: 14px;
    color: #c99a05;
    margin-bottom: 10px;
    letter-spacing: 10px;
}
footer .tuchong-desc {
    margin-right: 70px;
    line-height: 1.67;
}
/*footer .fluid-content {*/
/*max-width: 342px;*/
/*}*/
footer .qrcode {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right: 10px;
}
footer .qrcode-parallel {
    display: inline-block;
    vertical-align: middle;
}
footer .app-link {
    padding: 6px 24px;
    border: 1px solid #f9f9f9;
    margin-bottom: 10px;
    display: block;
}
footer .app-link:last-child {
    margin-bottom: 0;
}
footer .link-logo {
    margin-right: 5px;
    position: relative;
    display: inline-block;

}
footer .link-logo a,footer .link-logo a i{
    display: block;
    height: 32px;
    width: 32px;
}
footer a {
    color: inherit;
    text-decoration: none;
    outline: 0;
    display: block;

}
footer .link-logo a:hover{
    border-bottom: 2px solid white;
}
footer a .icon-wechat{
    background-image: url('../img/weixin.png');
}
footer a .icon-weiboo{
    background-image: url('../img/weibo.png');
}


footer .tuchong-detail {
    color: #85888a;
}
footer .footer-left {
    float: left;
}
footer .slash-list {
    display: inline-block;
    margin-left: 10px;
}
footer .footer-right {
    float: right;
}
.slash-list .slash-item {
    display: inline-block;
}


/*返回顶部*/

.back-top{
    display: none;
    position: fixed;
    left: 50%;
    bottom: 190px;
    overflow: hidden;

}
.back-top-a{
    position: relative;
    height: 40px;
    width: 45px;
    padding: 8px 9px;
    background-color: #38383a;
    opacity: 0.5;
    margin-bottom: 1px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    z-index: 88;
    line-height: 24px;
    text-align: center;
}
.back-top-a .icon-fanhuidingbu {
    color: #d8d8d8;
    font-size: 24px;
    padding: 0;
    left: 1px;
}